.well {
	background-color: purple;
	font-size: 16px;
	height:200px;
	color:white;
	border-radius: 5px;
}

img {
	height: 300px;
	width: 300px;
	margin: 5px 30px;
}

.btn-sm {
	background-color: black;
	border: black;
	color: white;
}

.btn-sm:hover{
	background-color: black;
}