.well {
	background-color: yellow;
	font-size: 16px;
	height:250px;

}

img {
	height: 200px;
	width: 200px;
	margin: 2px 25px;
}

.btn-sm {
	background-color: black;
	color: white;
}

.btn-sm:hover{
	background-color: black;
}